* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

.wrapper {
    padding: 3rem;
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin: 0 auto;
        padding: 4em;
    }
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 2em;
}

.profile-img:hover {
    border-radius: 20px;
    transform: scale(2);
}

.intro {
    margin-bottom: 1.5em;
}

.get-in-touch {
    margin-bottom: 3em;
}

.contact-btn {
    background-color: #222;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.contact-btn:hover {
    background-color: rgb(255, 196, 0);
    color:#222
}

.contact-btn i {
    margin-right: 1em;
}

ul.socials {
    list-style: none;
    display: inline-block;
}

ul.socials li {
    display: inline-block;
}

ul.socials li a {
    display: inline-block;
    padding: 1em;
    transition: all 0.4s ease-in-out;
}

ul.socials li a:hover {
    color: rgb(255, 196, 0);
    transform: scale(1.2);
}

ul.work {
    list-style: none;
    display: inline-block;
    clear: both;
}

ul.work li {
    padding: .2em .6em;
    margin: .2em .2em .2em 0;
    display: inline-block;
    background-color: #eee;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    cursor: default;
    color: #888;
}

ul.work li:first-child {
    padding: 0;
    margin-bottom: 1em;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .75em;
    display: block;
}

ul.work li:hover {
    background-color: #fff;
    color: #222;
}
